.header{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    font-family: "Open Sans - Extrabold";
    font-size: 36px;
    font-weight: 800;
    line-height: 30px;

    &:hover{
        opacity: 0.7;
    }
    }
