.nav{

    grid-column: 2/3;
    text-align: center;

    @include tablets{
        display: none;
    }

&__list{
    display: flex;
    justify-content: space-evenly;
    font-family: "Open Sans";
font-size: 16px;
font-weight: 400;
line-height: 30px;
}

&__item{
    

    &:hover{
        opacity: 0.7;
        color: #fff;
    }

    &:last-child{
        margin-right: 0;
    }
}
}